<!DOCTYPE html>
<html>
    <head>
        <title>Akanksha Sharma Blogs</title>
    </head>
    <body>
        <header>
            <h1><a href="/"> Akanksha Sharma Blogs</a> </h1>
        </header>
        <article>
            <time>published 5.5.2023</time>
            <h2><a href=" ">My first post</a></h2>
            <p>Suup? Been waiting for you </p>
        </article>
        <article>
            <time>published : 5.5.2023, </time>
            <h2>< a href= "">My second post</a></h2>
            <p> Suppp ? again here ?</p>
        </article>
    </body>
</html>